 /* Add your preferred styling for the buttons and hover effect */
 .product-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
    margin-right: 200px;
    margin-left: 57px;
}

.product-button:hover {
    background-color: #FFFF00; /* Yellow on hover */
}