body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.top-bar {
    background-color: orange;
    text-align: center;
    padding: 45px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.top-slider {
    position: relative;
    height: 150px; /* Adjust the height of the top bar */
    overflow: hidden;
}

.top-slider img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.top-slider-arrow {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: none;
}

#top-slider-arrow-left {
    left: 0;
}

#top-slider-arrow-right {
    right: 0;
}

.center-bar {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 150px; /* Adjust the height of the center bar */
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 85px;
}

.center-slider-arrow {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: none;
}

#center-slider-arrow-left {
    left: 0;
}

#center-slider-arrow-right {
    right: 0;
}

.image-box {
    width: 180px; /* Adjust the width of each box */
    height: 100px; /* Adjust the height of each box */
    overflow: hidden;
    margin: 0 10px; /* Adjust the margin between boxes */
    text-align: center; /* Center the image horizontally within the box */
}

.image-box img {
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 3px;
}

.info {
    margin-right: 800px;
    font-weight: bolder;
    font-size: 18px;
}

.kategoritext {
    margin-left: 675px;
    font-weight: bolder;
    font-size: 24px;
}

.topbarimagetext {
    font-weight: bolder;
    font-size: 19px;
}

.Tilbud1 {
    font-weight: bolder;
    font-size: 19px;
}